body{
    margin: 0px;
    background-image: url("../img/background.png");
    background-color: #DF83FF;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:top left;
    position: relative;
}

header {
    top: 0;
    height: auto;
    width: 100%;
    background: #A300DC;
    color: white;
    font-size: 25px;
    border-radius: 0px 0px 25px 25px;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #7A00A5;
    border-radius: 0px 0px 25px 25px;
}

.nav-logo {
    width: 23%;
    margin-left: 15px;
}

.nav-btn {
    width: 23%;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.nav-container {
    display: flex;
    width: 37%;
    justify-content: space-between;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 500px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}

#logo {
	padding-top: 15px;
    margin-left: 15px;
}

.button-fashion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 54px;
    background: #DF83FF;
    border-radius: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 19%;
    color: #000000;
}

.button-fashion:hover {
    cursor: pointer;
    background: #ac47ce;
}

.button-login {
    width: 68px;
    height: 65px;
    background: url("../img/person_icon.png");
    background-color: #DF83FF;
    background-position: 78px 152px;
    border-radius: 17px;
}

.button-login:hover {
    cursor: pointer;
    background: url("../img/person_icon.png");
    background-color: #ac47ce;
    background-position: 78px 152px;
}

.button-search {
    width: 68px;
    height: 65px;
    background: url("../img/search_icon.png");
    background-color: #DF83FF;
    background-position: 62px 161px;
    border-radius: 17px;
}

.button-search:hover {
    cursor: pointer;
    background: url("../img/search_icon.png");
    background-color: #ac47ce;
    background-position: 62px 161px;
}

.button-cart {
    width: 68px;
    height: 65px;
    background: url("../img/cart_icon.png");
    background-color: #DF83FF;
    background-position: 62px 173px;
    border-radius: 17px;
}

.button-cart:hover {
    cursor: pointer;
    background: url("../img/cart_icon.png");
    background-color: #ac47ce;
    background-position: 62px 173px;
}

.div-message-for-user {
    margin: 0 auto;
    width: 700px;
    height: 75px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 21px;
    font-family: Lato;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #391959;
    opacity: 0.75;
}

.button-register {
    width: 234px;
    height: 54px;
    background: #B933E9;
    border-radius: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.button-register:hover {
    cursor: pointer;
    background: #700597;
}

.div-register-button {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.div-products {
    width: 700px;
    height: 340px;
    margin: 0 auto;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #391959;
}

.div-products-card {
    width: 135px;
    height: 181px;
    border-radius: 10px;
    float: left;
}

.div-products-card-img img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 5px transparent;
}

.div-products-card-img img:hover {
    border-color: #9a00c9;
    cursor: pointer;
}

table {
    border-spacing: 15px;
}

p.typeproduct {
    font-size: 20px;
}

.button-moreoptions {
    width: 234px;
    height: 54px;
    background: #B933E9;
    border-radius: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.div-more-options-button {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.button-moreoptions:hover {
    cursor: pointer;
    background: #700597;
}

.div-videos {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #391959;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 15px;
}

.clientes {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #391959;
}

.tabela-clientes {
    width: 40%;
    height: 40%;
    justify-content: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #391959;
}

.clientes img {
    width: 70%;
    height: 70%;
    
}

.div-contato {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    text-align: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #391959;
}

.div-contato-logo {
    margin: 0 auto;
    justify-content: center;
    background-color: #700597;
    width: 14%;
    margin-left: 15px;
    border-radius: 10px;
}

.div-contato-texto {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.tabela-rotulo {
    text-align:center;
    justify-content: center;
}

.rotulo-box {
    text-align:center;
    justify-content: center;
}

.tabela-rotulo img {
    width: 50px;
    height: 50px;
}

.field{
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #CCC;
    border-radius: 2px;
}

form {
    height: auto;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

footer {
    color:#391959;
    top: -1;
    text-align: center;
    width: 100%;
    background: #A300DC;
}

.TituloCarrinho {
    justify-content: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #391959;
}

#divProdutos{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 75%;

}

.div-card{
    width: 200px;
    height: 250px;
    background-color: rgb(150, 38, 255);
    border-radius: 10px;
    float: left;
    margin:5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: white;
}

.div-card-img img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-card-descricao{
    width: 100%;
    font-size: 10px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: white;
}

.div-card-comprar{
    text-align: center;
    background-color: darkslateblue;
    color: white;
    height: 30px;
    cursor: pointer;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div-card-comprar:hover{
    background-color: blueviolet;
}

.div-card-comprado{
    background-color: rgb(225, 0, 255);
}

.div-card-comprado:hover{
    background-color: rgb(225, 0, 255);
}

